{% extends 'base-back.html.twig' %}
{% block body %}
<div style="margin-left:350px; margin-top: 100px">
<iframe src="https://maps.google.com/maps?q={{ adrgps }}&output=embed" width="80%" height="500"></iframe>
</div>
{% endblock %}
